import streamlit as st
import numpy as np
import joblib
from sklearn.preprocessing import StandardScaler
from streamlit_drawable_canvas import st_canvas
from PIL import Image, ImageOps, ImageDraw
import requests
import io